{extend name="master/base" /}

{block name="content"}
<style type="text/css">
	.layui-table-cell img{
	    height: 30px !important;
	    line-height: 30px !important;
	}
</style>

<div class="layuimini-container">
    <div class="layuimini-main">

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
              
            </div>
        </script>
		
		<script type="text/html" id="switchTpl">
		  <!-- 这里的 checked 的状态只是演示 -->
		  <input type="checkbox" name="is_show" id="{{d.id}}" value="{{d.is_pay}}" lay-skin="switch" lay-text="是|否" lay-filter="is_show" {{ d.is_pay == 1 ? 'checked' : '' }}>
		</script>
		
		<script type="text/html" id="swiperImg">
			<img src="{{d.goods_img}}" />
		</script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="{{ d.is_exp == 1 ? '' : 'edit' }}">
				{{ d.is_exp == 1 ? '已发货' : '发货' }}
			</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/admin/order/get_order',
            toolbar: '#toolbarDemo',
       
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'id', width: 80, title: 'ID'},
                {field: 'goods_name', width: 150, title: '商品名称'},
                {field: 'goods_img', width: 150, title: '商品图片',templet: '#swiperImg', align: "center"},
				 {field: 'total', width: 150, title: '商品价格'},
				 {field: 'num', width: 150, title: '商品数量'},
                {field: 'is_pay', width: 200, title: '是否付款',templet:'#switchTpl', align: "center"},
				 {field: 'create_time', width: 200, title: '下单时间',},
           
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
          
            limit:6,
			page:true,
			limits:[1,2,3,5],
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加商品',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/goods/create',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });
		
		 form.on('switch(is_show)', function(obj){
		    
			$.post('/admin/goods/is_show',{is_show:this.value,id:this.id},function(res){})

		  });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
		
            if (obj.event === 'edit') {

                var index = layer.open({
                    title: '发货',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/admin/order/exp/'+data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('确定删除？', function (index) {
					
					$.ajax({
						type:'DELETE',
						url:'/admin/goods/'+obj.data.id,
						success:function(res){
							if(res.status=='success'){
								obj.del();
								layer.close(index);
							}else{
								layer.msg(res.msg);
							}
						}
					})
					
                    
                });
            }
        });

    });
</script>
{/block}
