{extend name="master/base" /}

{block name="content"}
<style>
    body {
        background-color: #ffffff;
    }

    .zyupload {
        margin: 0 !important;
    }
</style>

<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">商品名称</label>
        <div class="layui-input-block">
            <input type="text" name="goods_name" lay-verify="required" lay-reqtext="名不能为空" placeholder="请输入名" value=""
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">商品价格</label>
        <div class="layui-input-block">
            <input type="text" name="goods_price" lay-verify="required" lay-reqtext="名不能为空" placeholder="请输入名" value=""
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">展示</label>
        <div class="layui-input-block">
            <input type="radio" name="is_show" value="1" title="是" checked="">
            <input type="radio" name="is_show" value="0" title="否">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select name="cat_id" lay-filter="aihao">
                <option value="0">顶级分类</option>
                {volist name="cats" id="vo"}
                <option value="{$vo.id}">{$vo.cat_name}</option>
                {/volist}
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">商品图片</label>
        <div class="layui-input-block">
            <div id="zyupload" class="zyupload"></div>
            <input type="hidden" name="goods_img" id="img_url" value=""/>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">商品详情</label>
        <div class="layui-input-block">
            <div id="editor" style="margin: 50px 0 50px 0">
                <p>商品详情</p>
            </div>
        </div>
    </div>

    <textarea style="display: none;" name="goods_introduce" id="text1" style="width:100%; height:200px;"></textarea>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/static/admin/js/upload.js"></script>
<script>

    layui.use(['layer', 'wangEditor'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            wangEditor = layui.wangEditor;

        var editor = new wangEditor('#editor');
        editor.customConfig.uploadImgServer = "/admin/goods/upload_goods";
        editor.customConfig.uploadFileName = 'image';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxLength = 5;
        editor.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                console.log(result);
                if (result.code == 1) {
                    var url = result.data.url;
                    url.forEach(function (e) {
                        insertImg(e);
                    })
                } else {
                    layer.msg(result.msg);
                }
            }
        };
        editor.customConfig.customAlert = function (info) {
            layer.msg(info);
        };

        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $('#text1').val(html)
        }

        editor.create();

    });

    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('/admin/goods', data.field, function (res) {
                console.log(res)
                if (res.status == 'success') {
                    window.location = '/admin/goods'
                }
            })
            return false;
        });
    });
</script>
{/block}